/* Example CSS page to demonstrate styles and positioning */
/* Notice the comments and organization. This makes it easier to locate and edit styles. */



html {
height: 100%;
}

body {
background-color: lightgray;
min-height: 100%;
overflow-x:hidden;
}



/* Div Styles */


div.module-heading {
width: 80%;
height: 100%;
/* margin-left: 20%;
margin-right: 0px;
padding-left: 0px;
padding-right: 0px; */
float: left;
display: flex;
/* align-items: center; */
}

div.home-button {
margin: 0;
margin-left: -10px;
padding: 0;
padding-top: 30px;
width: 20%;
float: left;
height: 100%;
overflow: auto;
overflow-x:hidden;
}

div.sidebar {
margin: 0;
margin-left: -10px;
padding: 0;
width: 20%;
background-color: lightblue;
position: fixed;
height: 90%;
overflow: auto;
overflow-x:hidden;
}

div.contrast-box {
background-color: rgb(170, 170, 170);
margin-top: 40px;
margin-bottom: 40px;
margin-left: 20px;
margin-right: 20px;
padding-top: 15px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 15px;
}

/* FIX probably isn't correct anymore */
h1 + section > div.contrast-box {
margin-top: 0px;
}



/* Div text styles */


div.contrast-box > h3 {
margin-top: 15px;
background-color: rgba(0, 0, 0, 0);
color: black;
font-size: 135%;
}



/* Page styles */


main.right-side {
width: 80%;
margin-left: 20%;
margin-right: 0;
padding-bottom: 150px;
padding-left: 0px;
padding-right: 0px;
}

main.center {
width: 100%;
margin-left: 0;
margin-right: 0px;
padding-top: 10px;
padding-bottom: 150px;
padding-left: 0px;
padding-right: 0px;
}



/* Header styles */


header {
width: 100%;
height: fit-content;
margin: 0;
padding-top: 0;
padding-left: 0;
padding-right: 0;
}

body > header {
margin-top: 1.5%;
height: 100px;
}

header.module {
padding-bottom: 2.5%;
}



/* Paragraph styles */


p {
font-family: "Arial","sans-serif";
font-size: 110%;
margin-bottom: 20px;
padding-left: 20px;
padding-right: 10px;
}




/* Styles within paragraphs */


em, cite {
font-style: italic;
}

strong {
font-weight: bold;
}

code {
font-family: "consolas","monospace";
font-size: 90%;
color: gray;
}

blockquote {
margin: 10px 45px 10px 45px;
padding: 5px;
background-color: lightblue;
color: grey;
font-family: "Helvetica","Arial","sans-serif";
text-align: center;
}



/* Link styles */


div.home-button > p {
margin: 0;
height: 100%;
}

div.home-button a {
height: 100%;
margin: -20px;
display: flex;
align-items: center;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 10%;
padding-right: 10%;
text-decoration: none;
font-size: 140%;
line-height: 165%;
}

div.home-button a.back {
background-color: gray;
color: white;
}

div.home-button a.back:hover {
background-color: black;
color: lightblue;
}



div.sidebar > p {
margin: 0;
}

div.sidebar a {
height: auto;
margin-left: -20px;
margin-right: -20px;
display: flex;
align-items: center;
color: black;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 10%;
padding-right: 10%;
text-decoration: none;
font-size: 140%;
line-height: 165%;
}

div.sidebar a.active {
background-color: rgb(0, 98, 128);
color: lightblue;
}

div.sidebar a.back {
height: 100px;
background-color: gray;
color: white;
}

div.sidebar a:hover:not(.active) {
background-color: white;
color: rgb(0, 98, 128);
}

div.sidebar a.back:hover {
background-color: black;
color: lightblue;
}

a {
color: rgb(0, 98, 128);
font-weight: bold;
text-decoration: none;
}

a:hover,
a:active,
a:focus {
color: white;
}



/* Headers */


h1 {
width: 100%;
height: 100%;
margin-left: -10px;
/* padding: 20px 0; */
padding-left: 30px;
display: flex;
align-items: center;
/* border-bottom: solid 10px gray;
border-top: solid 10px gray; */
font-family: "Helvetica","Arial","sans-serif";
font-size: 250%;
/* background-color: lightblue; */
}

main.right-side > header > h1 {
padding-top: 5%;
}

h2 {
width: 97.1%;
margin-top: 20px;
margin-bottom: 20px;
margin-left: -10px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 30px;
padding-right: 30px;
font-family: "Helvetica","Arial","sans-serif";
font-size: 150%;
color: lightblue;
background-color: gray;
}


h3 {
width: 100%;
min-height: 25px;
margin-top: 30px;
margin-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
margin-left: 0px;
text-align: center;
color: rgb(0, 98, 128);
font-family: "Helvetica","Arial","sans-serif";
font-weight: bold;
background-color: lightblue;
}



/* List Styles */


ol  {
list-style: decimal;
}

ul {
list-style: disc;
margin-left: 0px;
width: 95%;
}

li {
margin-left: 30px;
}

ul > li > ul > li {
list-style: circle;
}
ul > ul > li {
list-style: circle;
}



/* Figure and Image styles */


figure {
text-align: center;
font-style: italic;
text-indent: 0;
}

img {
width: 90%;
height: auto;
display: block;
margin-top: 20px;
margin-bottom: 10px;
margin-right: auto;
margin-left: auto;
padding: 10px;
border: solid 3px gray;
}



/* Aside styles */


aside {
width: 40%;
margin-top: 0rem;
margin-left: 1rem;
margin-right: 1rem;
margin-bottom: 0.5rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
float: right;
box-shadow: inset 5px 0 5px -5px rgb(0, 98, 128);
font-style: italic;
color: rgb(0, 98, 128);
}

header + main.center > aside {
margin-top: 0.8rem;
}

h1 + section > div.contrast-box > aside {
margin-top: 0.8rem;
}

h2 + div.contrast-box > aside {
margin-top: 0.8rem;
}

aside.midbar {
width: 95%;
float: none;
}



/* Aside text styles */


aside > p {
margin: 0.5rem;
}

aside > h3 {
margin-top: 5px;
}









