/* Example CSS page to demonstrate styles and positioning */
/* Notice the comments and organization. This makes it easier to locate and edit styles. */

/* Colors */

:root {
    --white: white;
    --light: #c9c5c3;
    --medium: #ada7a4;
    --dark: #6F6866; /* grey; */
    --black: #38302E; /* black; */

    --light-color: #CCDAD1; /* lightblue; */
    --medium1-color: #9CAEA9; /* rgb(105, 152, 167); */
    --medium2-color: #6c8282;
    --medium3-color: #4f6363; /* rgb(0, 98, 128); */
    --dark-color: #123c41;
}


/* Fonts */

@font-face {
    font-family: Dosis;
    src: url(Dosis/Dosis-VariableFont_wght.ttf);
}


html {
height: 100%;
}

body {
background-color: var(--light);
min-height: 100%;
overflow-x:hidden;
}



/* Div Styles */


div.module-heading {
width: 75%;
height: 100%;
/* margin-left: 25%;
margin-right: 0px;
padding-left: 0px;
padding-right: 0px; */
float: left;
display: flex;
/* align-items: center; */
}

div.home-button {
margin: 0;
margin-left: 1%;
padding: 0;
/* padding-top: 30px; */
width: 20%;
float: left;
height: 100%;
/* overflow: auto; */
overflow: hidden;
border-top-left-radius: 4rem;
border-top-right-radius: 1rem;
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 4rem;
}

div.sidebar {
margin: 0;
margin-top: 2%;
margin-left: 1%;
padding: 0;
width: 20%;
background-color: var(--light-color);
position: fixed;
height: 90%;
overflow: auto;
overflow-x: hidden;
border-top-left-radius: 3rem;
border-top-right-radius: 1.25rem;
border-bottom-left-radius: 1.25rem;
border-bottom-right-radius: 3rem;
}


div.contrast-box {
margin-top: 40px;
margin-bottom: 40px;
margin-left: 20px;
margin-right: 20px;
padding-top: 15px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 15px;
background-color: var(--medium);
border-top-left-radius: 4rem;
border-top-right-radius: 1rem;
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 4rem;
}

/* FIX probably isn't correct anymore */
h1 + section > div.contrast-box {
margin-top: 0px;
}



/* Div text styles */


div.contrast-box > h3 {
margin-top: 15px;
background-color: rgba(0, 0, 0, 0);
color:  var(--black);
font-size: 135%;
}



/* Page styles */


main.right-side {
width: 75%;
margin-left: 24%;
margin-right: 0;
padding-bottom: 150px;
padding-left: 0px;
padding-right: 0px;
}

main.center {
width: 95%;
margin-left: 2%;
margin-right: 0px;
padding-top: 10px;
padding-bottom: 150px;
padding-left: 0px;
padding-right: 0px;
}



/* Header styles */


div.module {
width: 100%;
height: fit-content;
margin: 0;
padding-top: 0;
padding-left: 0;
padding-right: 0;
padding-bottom: 2.5%;
display: flex;
align-items: center;
}

body > header > div.module {
margin-top: 1.5%;
height: 100px;
}



header {
width: 100%;
height: fit-content;
margin: 0;
padding-top: 0;
padding-left: 0;
padding-right: 0;
padding-bottom: 0;
display: flex;
align-items: center;
}

header.module {
padding-bottom: 2.5%;
}



/* Paragraph styles */


p {
font-family: "Dosis","Helvetica","Arial","sans-serif";
font-size: 110%;
margin-bottom: 20px;
padding-left: 20px;
padding-right: 10px;
}




/* Styles within paragraphs */


em, cite {
font-style: italic;
}

strong {
font-weight: bold;
}

code {
font-family: "consolas","monospace";
font-size: 90%;
color: var(--dark);
}

blockquote {
margin: 10px 45px 10px 45px;
padding: 5px;
background-color: var(--light-color);
color: var(--dark);
font-family: "Dosis","Helvetica","Arial","sans-serif";
text-align: center;
border-top-left-radius: 4rem;
border-top-right-radius: 1rem;
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 4rem;
}



/* Link styles */


div.home-button > p {
margin: 0;
height: 100%;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 10%;
padding-right: 10%;
}

div.home-button a {
height: 100%;
margin: -20px;
display: flex;
align-items: center;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 10%;
padding-right: 10%;
text-decoration: none;
font-size: 140%;
line-height: 165%;
}

div.home-button a.back {
background-color: var(--dark);
color: var(--white);
}

div.home-button a.back:hover {
background-color:  var(--black);
color: var(--light-color);
}



div.sidebar > p {
margin: 0;
/* padding: 0; */
}

div.sidebar a {
height: auto;
margin-left: -20px;
margin-right: -20px;
display: flex;
align-items: center;
color:  var(--black);
padding-top: 5%;
padding-bottom: 5%;
padding-left: 10%;
padding-right: 10%;
text-decoration: none;
font-size: 140%;
line-height: 165%;
}

div.sidebar a.active {
background-color: var(--medium2-color);
color: var(--light-color);
}

div.sidebar a.back {
height: 100px;
background-color: var(--dark);
color: var(--white);
}

div.sidebar a:hover:not(.active) {
background-color: var(--white);
color: var(--medium2-color);
}

div.sidebar a.back:hover {
background-color:  var(--black);
color: var(--light-color);
}

a {
color: var(--medium3-color);
font-weight: 600;
text-decoration: none;
}

div.contrast-box a {
color: var(--dark-color);
}

a:hover,
a:active,
a:focus {
color: var(--white);
}



/* Headers */


h1 {
width: 100%;
height: 100%;
margin-left: -10px;
padding: 0;
padding-left: 3%;
display: flex;
align-items: center;
/* border-bottom:s solid 10px var(--dark);
border-top: solid 10px var(--dark); */
font-variant: normal;
font-family: "Dosis","Helvetica","Arial","sans-serif";
font-weight: 600;
font-size: 250%;
/* background-color: var(--light-color); */
}

main.right-side > header > h1 {
padding-top: 4%;
padding-bottom: 2%;
}

h2 {
width: 100%;
margin-top: 20px;
margin-bottom: 20px;
margin-left: -10px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 5%;
padding-right: 30px;
font-variant: normal;
font-family: "Dosis","Helvetica","Arial","sans-serif";
font-weight: 600;
font-size: 150%;
color: var(--light-color);
background-color: var(--dark);
border-top-left-radius: 5rem;
border-bottom-left-radius: 2rem;
}


h3 {
width: 100%;
min-height: 25px;
margin-top: 30px;
margin-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
margin-left: 0px;
text-align: center;
color: var(--medium3-color);
font-family: "Dosis","Helvetica","Arial","sans-serif";
font-weight: bold;
font-size: 125%;
background-color: var(--light-color);
border-top-left-radius: 4rem;
border-top-right-radius: 1.5rem;
border-bottom-left-radius: 1.5rem;
border-bottom-right-radius: 4rem;
}



/* List Styles */


ol  {
list-style: decimal;
}

ul {
list-style: disc;
margin-left: 0px;
width: 95%;
}

li {
margin-left: 30px;
}

ul > li > ul > li {
list-style: circle;
}
ul > ul > li {
list-style: circle;
}



/* Figure and Image styles */


figure {
text-align: center;
font-style: italic;
text-indent: 0;
}

img {
width: 90%;
height: auto;
display: block;
margin-top: 5%;
margin-bottom: 5%;
/* padding: 10px; */
border: solid 10px var(--light);
border-radius: 0.5rem;
box-shadow: -6px 6px 10px var(--black);
}



/* Aside styles */


aside {
width: 40%;
margin-top: 0rem;
margin-left: 1rem;
margin-right: 1rem;
margin-bottom: 0.5rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
float: right;
box-shadow: inset 8px 0 5px -5px var(--medium3-color);
font-style: italic;
font-weight: 600;
color: var(--medium3-color);
border-top-left-radius: 0rem;
border-bottom-left-radius: 0rem;
}

div.contrast-box > aside {
box-shadow: inset 5px 0 5px -5px var(--dark-color);
color: var(--dark-color);
}

header + main.center > aside {
margin-top: 0.8rem;
}

header + article > div.contrast-box > aside {
margin-top: 0.8rem;
}

h2 + div.contrast-box > aside {
margin-top: 0.8rem;
}

aside.midbar {
width: 95%;
float: none;
}



/* Aside text styles */


aside > p {
margin: 0.5rem;
}

aside > h3 {
margin-top: 5px;
margin-left: 2%;
width: 95%;
}
div.contrast-box > aside > h3 {
background-color: var(--medium2-color);
}








