<!DOCTYPE html>

<html xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
	<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Template</title>

	<meta name="description" content="Template.">

	<link rel="stylesheet" type="text/css" media="screen" href="../../css/screen.css">

</head>


<body>

<header>
    <div class="module">
        <div class="home-button">
            <p><a class="back" href="../../index.html">Home</a></p>
        </div>

        <div class="module-heading">
            <h1>
                Template
            </h1>
        </div>
    </div>
</header>


<main class="center">

    <aside>
        <h3>Template header</h3>
        
        <ul>
            <li><p>Template item</p></li>
            <li><p>Template item</p></li>
        </ul>
    </aside>

    <p>
        Template description
    </p>
    <ul>
        <li><p><a href="pages/1-temp1.html">Template page 1</a></p></li>
        <li><p><a href="pages/2-temp2.html">Template page 2</a></p></li>
    </ul>

</main>

</body>

</html>