<!DOCTYPE html>

<html xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
	<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Template with case study</title>

	<meta name="description" content="Template with case study.">

	<link rel="stylesheet" type="text/css" media="screen" href="../../../css/screen.css">

</head>


<body>

<!-- Navigation sidebar -->
<!-- Here you can mark the current page with <a class="active" ...> 
     and the module home button with <a class="back" ...> -->
<div class="sidebar">
    <p><a class="back" href="../index.html">Template: Home</a></p>
    <p><a class="active" href="1-temp1.html">Template with case study</a></p>
    <p><a href="2-temp2.html">Template step-by-step</a></p>
</div>

<!-- This page is to the right of the navigation -->
<main class="right-side">

    <!-- Page title -->
    <header>
        <h1>
            Template with case study
        </h1>
    </header>

    <!-- Main page content -->
    <article>
        <section id="sec 1">
        <h2>
            Header 2
        </h2>

        <div>
            <!-- Here you can put tips for the researcher in an <aside>. -->
            <aside>
                <h3>Being Realistic</h3>
                
                <p>
                   Something realistic. Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, ultrices condimentum nam vulputate posuere taciti eleifend varius, eget cursus nostra viverra lacus dui donec, dictum netus proin purus placerat auctor ultricies. Eros id vehicula tellus risus quis senectus fames massa dictum lobortis egestas urna, nam sagittis torquent ultricies tempor enim nulla auctor bibendum cursus conubia. Id litora elementum porta sed magna varius semper pretium penatibus, himenaeos blandit dictum quam donec dictumst nascetur primis lacinia dis, tempus inceptos sociis mattis purus habitasse velit malesuada.
                </p>
            </aside>
            
            <ul>
                <li><p>
                    <strong>Something important</strong>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, ultrices condimentum nam vulputate posuere taciti eleifend varius, eget cursus nostra viverra lacus dui donec, dictum netus proin purus placerat auctor ultricies. Eros id vehicula tellus risus quis senectus fames massa dictum lobortis egestas urna, nam sagittis torquent ultricies tempor enim nulla auctor bibendum cursus conubia. Id litora elementum porta sed magna varius semper pretium penatibus, himenaeos blandit dictum quam donec dictumst nascetur primis lacinia dis, tempus inceptos sociis mattis purus habitasse velit malesuada.
                </p></li>

                <li><p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, ultrices condimentum nam vulputate posuere taciti eleifend varius, eget cursus nostra viverra lacus dui donec, dictum netus proin purus placerat auctor ultricies. Eros id vehicula tellus risus quis senectus fames massa dictum lobortis egestas urna, nam sagittis torquent ultricies tempor enim nulla auctor bibendum cursus conubia. Id litora elementum porta sed magna varius semper pretium penatibus, himenaeos blandit dictum quam donec dictumst nascetur primis lacinia dis, tempus inceptos sociis mattis purus habitasse velit malesuada.
                </p></li>

                <li><p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, ultrices condimentum nam vulputate posuere taciti eleifend varius, eget cursus nostra viverra lacus dui donec, dictum netus proin purus placerat auctor ultricies. Eros id vehicula tellus risus quis senectus fames massa dictum lobortis egestas urna, nam sagittis torquent ultricies tempor enim nulla auctor bibendum cursus conubia. Id litora elementum porta sed magna varius semper pretium penatibus, himenaeos blandit dictum quam donec dictumst nascetur primis lacinia dis, tempus inceptos sociis mattis purus habitasse velit malesuada.
                </p></li>
            </ul>
        </div>
        
        <!-- Put a case study in a <div class="contrast-box">. -->
        <div class="contrast-box">
            <h3>Case Study: A case study</h3>
            
            <p>
                Bridgette is Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, ultrices condimentum nam vulputate posuere taciti eleifend varius, eget cursus nostra viverra lacus dui donec, dictum netus proin purus placerat auctor ultricies. Eros id vehicula tellus risus quis senectus fames massa dictum lobortis egestas urna, nam sagittis torquent ultricies tempor enim nulla auctor bibendum cursus conubia. Id litora elementum porta sed magna varius semper pretium penatibus, himenaeos blandit dictum quam donec dictumst nascetur primis lacinia dis, tempus inceptos sociis mattis purus habitasse velit malesuada.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, ultrices condimentum nam vulputate posuere taciti eleifend varius, eget cursus nostra viverra lacus dui donec, dictum netus proin purus placerat auctor ultricies. Eros id vehicula tellus risus quis senectus fames massa dictum lobortis egestas urna, nam sagittis torquent ultricies tempor enim nulla auctor bibendum cursus conubia. Id litora elementum porta sed magna varius semper pretium penatibus, himenaeos blandit dictum quam donec dictumst nascetur primis lacinia dis, tempus inceptos sociis mattis purus habitasse velit malesuada.
            </p>
        </div>

        </section>


        <section id="sec 2">
        <h2>
            Header 2 2
        </h2>

        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, ultrices condimentum nam vulputate posuere taciti eleifend varius, eget cursus nostra viverra lacus dui donec, dictum netus proin purus placerat auctor ultricies. Eros id vehicula tellus risus quis senectus fames massa dictum lobortis egestas urna, nam sagittis torquent ultricies tempor enim nulla auctor bibendum cursus conubia. Id litora elementum porta sed magna varius semper pretium penatibus, himenaeos blandit dictum quam donec dictumst nascetur primis lacinia dis, tempus inceptos sociis mattis purus habitasse velit malesuada.
            </p>

            <blockquote>
                "Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi."
            </blockquote>
        </div>
        </section>
    </article>

</main>

</body>

</html>