<!DOCTYPE html>

<html xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
	<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Template step-by-step</title>

	<meta name="description" content="Template step-by-step.">

	<link rel="stylesheet" type="text/css" media="screen" href="../../../css/screen.css">

</head>


<body>

<div class="sidebar">
    <p><a class="back" href="../index.html">Template: Home</a></p>
    <p><a href="1-temp1.html">Template with case study</a></p>
    <p><a class="active" href="2-temp2.html">Template step-by-step</a></p>
</div>
    
<main class="right-side">

    <!-- Page title -->
    <header>
        <h1>
            Template step-by-step
        </h1>
    </header>

    <!-- Main page content -->
    <article>
        <!-- Tell the researcher about the next steps. -->
        <div class="contrast-box">
            <p>
                First steps...
            </p>

            <ol>
                <li><p>Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi.</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi.</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi.</p></li>
            </ol>

            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi.
            </p>
        </div>

        <!-- Put a <figure> for an image about the next step. -->
        <figure>
            <img src="../../../illustrations/datalesson_fig5.png" alt="what image is about.">
            <figcaption><p>Figure 1: description.</p></figcaption>
        </figure>
        
        <!-- Tell the researcher about the next steps. -->
        <div class="contrast-box">

            <p>
                Next steps...
            </p>

            <!-- Here you can put more tips for the researcher in an <aside>. -->
            <aside>
                
                <p>
                    Consult <a href="http://www.ats.ucla.edu/stat/mult_pkg/whatstat/default.htm">UCLA's Choosing the Correct Statistic</a> to ensure the statistical anlaysis is appropriate for your research question(s), variables of interest, and associated data types.
                </p>
            </aside>

            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi.
                Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi.
            </p>

            <ol>
                <li><p>Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi..</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi.</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi.</p></li>
            </ol>

        </div>
        
        <!-- Put a <figure> for an image about the next step. -->
        <figure>
            <img src="../../../illustrations/datalesson_fig6.png" alt="what image is about.">
            <figcaption><p>Figure 2: description.</p></figcaption>
        </figure>
        
        <!-- Tell the researcher about the next steps. -->
        <div class="contrast-box">
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, ultrices condimentum nam vulputate posuere taciti eleifend varius, eget cursus nostra viverra lacus dui donec, dictum netus proin purus placerat auctor ultricies. Eros id vehicula tellus risus quis senectus fames massa dictum lobortis egestas urna, nam sagittis torquent ultricies tempor enim nulla auctor bibendum cursus conubia. Id litora elementum porta sed magna varius semper pretium penatibus, himenaeos blandit dictum quam donec dictumst nascetur primis lacinia dis, tempus inceptos sociis mattis purus habitasse velit malesuada.
            </p>
        </div>

        <!-- Put a <figure> for an image about the next step. -->
        <figure>
            <img src="../../../illustrations/datalesson_fig7.png" alt="what image is about..">
            <figcaption><p>Figure 3: description.</p></figcaption>
        </figure>
    </article>

    <!-- Tell the researcher how they have succeeded. -->
    <article>
        <h2>
            Test your knowledge
        </h2>

        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, ultrices condimentum nam vulputate posuere taciti eleifend varius, eget cursus nostra viverra lacus dui donec, dictum netus proin purus placerat auctor ultricies. Eros id vehicula tellus risus quis senectus fames massa dictum lobortis egestas urna, nam sagittis torquent ultricies tempor enim nulla auctor bibendum cursus conubia. Id litora elementum porta sed magna varius semper pretium penatibus, himenaeos blandit dictum quam donec dictumst nascetur primis lacinia dis, tempus inceptos sociis mattis purus habitasse velit malesuada.
            </p>
        </div>
    </article>
    
</main>

</body>

</html>